<head>
  <style type="text/css">
    .user-image {
      width: 100px;
      height: 100px;
    }
    .date {
      float: right;
      font-size: 12px;
    }
    .float-right {
      float: right;;
    }
    .padding-bottom {
      padding-bottom: 15px;
    }
  </style>
</head>
<div class="container">
  <div class="lead well">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="<%= @question.gravatar %>"/>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"> <%= @question.email %></h4>
        <%= @question.body %>
      </div>
    </div>
  </div>

  <%= render 'home/new_answer_form' %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <% @answers.each do |answer| %>
        <div class="media well lead">
          <div class="media-left">
            <a href="#">
              <img class="media-object user-image" src="<%= answer.gravatar %>"/>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"> <%= answer.email %> </h4>
            <%= answer.body %>
          </div>
          <p class="date"><%= time_ago_in_words answer.created_at %> ago </p>
        </div>
      <% end %>
      </div>
      <% if @answers.empty? %>
      <div class="alert alert-info col-sm-8 col-sm-offset-2"> No answers yet, be the first to answer! </div>
      </div>
      <% end %>
      <div class="col-sm-8 col-sm-offset-2 padding-bottom">
        <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#new_answer_form"> Submit new answer </button>
      </div>
  </div>


</div>
