<!DOCTYPE html>
<html>
<head>
  <title>HU</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <style type="text/css">
  .container-fluid {
    background-color: black;
  }
  .pull-right {
    margin-top: 7.5px;
  }
  </style>
</head>
<body>
  <%= render 'home/navbar' %>
  <%= yield %>
  <%= render 'home/new_question_form' %>
</body>
</html>
